table {
  border: 1px solid #cccccc;

}

.valid {
  background-color: black;
  // background-size: cover;
}

tr {
  width: 50px;
  height: 50px;
}

td {
  padding: 25px;
  width: 50px;
  height: 50px;
}

.player {
  // margin: auto;
  background-position: center;
  background-size: 49px 49px;
  background-repeat: no-repeat;
}

.black_piece {
  background-image: url("/assets/black.jpg");
}

.red_piece {
  background-image: url("/assets/red.jpg");
}

.active {
  background-color: #222222;
}

.selected {
  border: 2px solid red;
}
